h4 {
	padding-top:20px;
}
h3 {
	padding-top:10px;
}
a, a:link, a:visited {
	color:maroon;
}
blockquote {
	font-size:small;
}
.carousel-control.right, .carousel-control.left {
	background-image:none;
}
figcaption {
	margin-top:20px;
	font-style: normal;
}

figure {
	border: 1px solid black;
	padding: 20px;
	max-width:100%;
}
